#sidebar{
    background-color: #f7fafc;
    position: absolute;
    width: 16rem;
    bottom: 0;
    top: 0;
    z-index: 50;
    overflow: auto;
}

.menu .nav a{
    font-size: 0.875rem;
    color: #718096;
    font-weight: 400;
}

.heading{
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #718096;
    font-weight: 600;
}